{% extends 'partials/base.html'%} {% block title %} Staff Page {% endblock %} 
{% block content %} 
{% include 'partials/topnav.html' %}
<!--Table-->
<div class="container">
  <div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <table class="table bg-white">
        <thead class="bg-primary">
          <tr class="text-white">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Designation</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          {% for worker in workers %}
          <tr>
            <th scope="row">
              {% if not worker.is_active %}
                <a
                class="btn btn-primary btn-sm"
                href="{% url 'staff-activate' worker.id %}"
                >Approve</a
                >
              {% else %}
              <a
                class="btn btn-primary btn-sm"
                href="{% url 'user-profile' %}"
                >View</a
              >
              {% endif %}
            </th>
            <td>{{ worker.username }}</td>
            <td>{% if worker.is_active %} Sales-Clerk {% else %} Pending Approval {% endif %}</td>
            <td>{{ worker.email }}</td>
            <td>{{ worker.profile.phone }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
