
{% extends 'partials/base.html'%}
{% block title %} Product Details Page {% endblock %}
{% block content %}
{% if user.is_authenticated  %}
{% include 'partials/topnav.html' %}
{%endif%}
<div class="container">
    <div class="row justify-content-center my-4">
        
        <div class="col-md-8">
            {% comment %} don't show the product details in table we are showing one product details show only the product's details{% endcomment %}
            <div class="border bg-white p-3">
                <h3 class="text-center">Product Details</h3>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid" />
                    </div>
                    <div class="col-md-6">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.description }}</p>
                        <p>Price: <span class="text-danger">&#x20B9;{{ product.selling_price }}</span></p>
                        <p>Category: {{ product.category }}</p>
                        <p>Quantity: {{ product.quantity }}</p>
                        <p>Weight: {{ product.weight }}</p>
                        {% comment %}add tw buttons if the user is staff and superuser to update and delete for manager refer to product_update and product_delete and for staff use staff_update and staff_delete{% endcomment %}
                        {% if user.is_staff and user.is_superuser %}
                        <a href="{% url 'dashboard-product-update' product.id %}" class="btn btn-primary">Update</a>
                        <a href="{% url 'dashboard-product-delete' product.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                        {% if user.is_staff and not user.is_superuser%}
                        <a href="{% url 'staff-product-update' product.id %}" class="btn btn-primary">Update</a>
                        <a href="{% url 'staff-product-delete' product.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}


