
{% extends 'partials/base.html'%}
{% block title %} Product Details Page {% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center my-4">
        
        <div class="col-md-8">
            <div class="border bg-white p-3">
                <h3 class="text-center">Product Details</h3>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid" />
                    </div>
                    <div class="col-md-6">
                        <h4>{{ product.name }}</h4>
                        <p><strong>Description: </strong>{{ product.description }}</p>
                        <p><strong>Price: </strong><span class="text-danger">&#x20B9;{{ product.selling_price }}</span></p>
                        <p><strong>Category </strong>{{ product.category }}</p>
                        {%if user.is_staff and user.is_superuser %}
                            <p><strong>Quantity: </strong>{{ product.quantity }}</p>
                        {%endif%}
                        <p><strong>Weight: </strong>{{ product.weight }}g</p>
                        {% if user.is_staff and user.is_superuser %}
                        <a href="{% url 'dashboard-product-update' product.id %}" class="btn btn-primary">Update</a>
                        <a href="{% url 'dashboard-product-delete' product.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                        {% if user.is_staff and not user.is_superuser%}
                        <a href="{% url 'staff-product-update' product.id %}" class="btn btn-primary">Update</a>
                        <a href="{% url 'staff-product-delete' product.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}


